<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start</title>
    <script src="../js/vue.js"></script>
    <style>

    </style>
</head>

<body>

    <div id="root">
        姓: <input type="text" v-model="firstName"><br>
        名: <input type="text" v-model="lastName"><br>
        <span>全名：{{fullName}}</span><br>
    </div>

    <script src="../js/index.js"></script>
</body>

</html>